CompileFlags:
  Add:
  - -m32
  - -nostdinc

  - -Iinclude
  - -Ilibs/c/include
  - -Ilibs/cpp/include
  - -Ilibs/cri/include
  - -Ilibs/nds/include
  - -Ilibs/nitro/include
  - -Ilibs/runtime/include

  - -ferror-limit=0 # Allow all warnings to be displayed

  - -Wno-c99-designator
  - -Wno-incompatible-library-redeclaration # No warnings about redeclaring the standard library
